<!-- Generated template for the PopoverComponent component -->
<ion-list radio-group [(ngModel)]="type" (ionChange)="changeDuctType($event)">
  <ion-row padding>
    <ion-col>
      <button (click)="changeBackground('#c4c4c4')" ion-button small color="popover_gray">gray</button>
    </ion-col>
    <ion-col>
      <button (click)="changeBackground('#000080')" ion-button small color="popover_blue">blue</button>
    </ion-col>
    <ion-col>
      <button (click)="changeBackground('#000000')" ion-button small color="popover_black">black</button>
    </ion-col>
  </ion-row>
  <ion-item *ngFor="let type of type_list">
    <ion-label>{{type}}</ion-label>
    <ion-radio value={{type}}></ion-radio>
  </ion-item>
  <!-- <ion-item >
    <ion-label>Duct Segment</ion-label>
    <ion-radio value="Segment"></ion-radio>
  </ion-item>
  <ion-item >
    <ion-label>Curve</ion-label>
    <ion-radio value="Curve"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Transiction</ion-label>
    <ion-radio value="Transiction"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Reduction</ion-label>
    <ion-radio value="Reduction"></ion-radio>
  </ion-item>
  <ion-select [(ngModel)]="type">
    <ion-option *ngFor="let type of type_list">{{type}}</ion-option>
  </ion-select> -->
</ion-list>
