/* ------ Components Definitions ------ */

.index_body{
  font: normal bold 16px "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  margin: 0px;
  padding-top: 230px;
}

/* ------ Classes Definitions ------ */

.main_header{
  padding-top: 50px;
  height: 230px;
  background-color: #0087C9;
  text-align: center;
  color: #fff;
}

.main_nav{
  background-color: #fff;
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
  text-align: center;
  z-index: 150;
  margin-bottom: -60px;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
}

.main{
  padding-top: 70px;
  position: relative;
  font: normal 16px "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.main_nav_scrolled, .main_header{
  position: fixed;
  top: 0;
  width: 100%;
}

.menu_btns{
  margin: 10px 20px;
  font-size: .9em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: darkslategrey;
}

.menu_btns:hover{
  border-bottom: 2px solid #0087C9;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main, .main_headings{
  background-color: #e9e9e9;
}

.login_signin{
  display: inline;
  position: fixed;
  float: right;
  top: 15px;
  right: 15px;
  z-index: 160;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style: none;
  float: left;
}

#signin, #login, #logout, #user_name{
  color: #fff;
  font-weight: bold;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

#signin:hover, #login:hover, #logout:hover{
  color: #a9a9a9;
}


.div_panel{
  height: 200px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
  padding: 20px;
}

.img_panel{
  filter: grayscale(1);
  display: block;
  width: 30%;
  margin: auto;
  padding-top: 30px;
}

.lbl_panel{
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 30px;
  margin: auto;
}

#map{
  width: 100%;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
}

/* -------------- Login selector --------------- */
.login_main, .signin_main, .sample_main{
  background-color: #e9e9e9;
}

.form_login,
.form_signin,
.div_success_bloke,
.div_bye_welcome,
.div_samples{
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
  padding: 10px;
  top : 50%;
}

.form_login{
  width: 300px;
  height: 250px;
  margin-top: 157px;
}

.form_signin{
  width: 55%;
  height: 440px;
  margin-top: 80px;
}

.div_samples{
  height: 500px;
  margin-top: 80px;
}

.div_success_bloke{
  width: 40%;
  margin-top: 200px;
  text-align: center;
}

.div_bye_welcome{
  width: 45%;
  margin-top: 200px;
  text-align: center;
}

.signin_head{
  text-align: center;
}

.div_cont{
  vertical-align: middle;
}


.footer{
  color: #fff;
  text-align: center;
  background-color: #0087C9;
  padding: 8px;
}


/* Samples Page definitions */

.samples_d ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.samples_d li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 100%;
}

.samples_d li:hover {
  background-color: #0099cc;
  cursor: pointer;
}


/*  WebGL Definitions*/

.div_drawArea {
  padding: 2px;
}

/* ------ ID Definitions ------ */

#signup_msg{
  width: 50%;
  padding: 10px;
  color: #ff0000;
  margin: auto;
  text-align: center;
}

#login_msg{
  width: 35%;
  padding: 10px;
  color: #ff0000;
  margin: auto;
  text-align: center;
}

#back_index_page{
    width: 25px;
    height: 25px;
}

#back_index_page:hover{
  cursor: pointer;
}

#sample_head{
  text-align: center;
}

.main_nav .icon {
  display: none;
}

@media (max-width: 750px) {
  .main_nav .menu_btns{
    display: none;
  }
  .main_nav .icon {
    margin-left: 20px;
    text-align: left;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategrey;
  }
  .main_nav{
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .icon{
    font-size: 1.7em;
  }
}

@media (max-width: 750px) {
  .main_nav.responsive a:not(:first-child){
    padding: 5px 0 5px 0;
    float: none;
    display: block;
    text-align: left;
  }
}
