<!-- Generated template for the SegmentComponent component -->
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-input type="number" min="150" max="3000" [(ngModel)]="segment._width" placeholder="Width"></ion-input>
      <ion-input type="number" min="150" max="3000" [(ngModel)]="segment._height" placeholder="Height"></ion-input>
      <ion-input type="number" min="150" max="3000" [(ngModel)]="segment._length" placeholder="Length"></ion-input>
    </ion-list>
  </ion-card-content>
</ion-card>
