<!-- Generated template for the DuctCreationComponent component -->
<!-- <div padding class="def">
  {{text}}
</div> -->
<div class="modal-panel">
  <div class="modal-div-panel">
      <ion-content padding>
        <ion-title>New Duct</ion-title>

        <ion-col align-self-start>
          <ion-row nowrap padding>
            <ion-list>
              <ion-item padding>
                <ion-label>Type:</ion-label>
                <ion-select [(ngModel)]="type">
                  <ion-option *ngFor="let type of type_list">{{type}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item padding>
                <ion-label>Size:</ion-label>
                <ion-select [(ngModel)]="height">
                  <ion-option *ngFor="let size of size_list">{{size}}</ion-option>
                </ion-select>
                <ion-select [(ngModel)]="width">
                  <ion-option *ngFor="let size of size_list">{{size}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label floating>Quantity:</ion-label>
                <ion-input type="number" [(ngModel)]="quantity"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Insulated</ion-label>
                <ion-checkbox color="dark" checked="false"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Fire Rated</ion-label>
                <ion-checkbox color="dark" checked="false"></ion-checkbox>
              </ion-item>

            </ion-list>
            <ion-img width="170" height="170" src="/img/offset.png"></ion-img>
          </ion-row>
          <ion-row justify-content-center>
            <button ion-button color="primary" (click)="addDuct()">Add</button>
            <button ion-button color="secondary" (click)="dismiss()">Cancel</button>
          </ion-row>
        </ion-col>
      </ion-content>
  </div>
</div>
