duct-creation {

  .modal-panel {
    height: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.45);
  }

  .modal-div-panel {
    background-color: #fafafa;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    margin: auto;
    padding: 5px;
  }

}
