page-manual {
    .topiccontent{
        position: relative;
    }
    .topiccontent span{
        position: relative;
        clear: both;
    }

    .imgcontent{
        width: 40px;
        height: 40px;
        float: left;
        vertical-align: middle;
        margin-right: 10px;
    }

    h2{
        color: color($colors,secondary);
        font-style: bold;

    }
    .body{
        background-color: color($colors,primary);
    }
    .searchText{
        background-color: white;
        padding-left: 8px;
        padding-right: 8px;
    }
    .searchButton{
        background-color: #00BAFC;
    }
}
